@use '@/styles/variables' as *;

.project {
  max-width: fit-content;
  .project-header {
    svg {
      height: 50px !important;
    }
  }
  img {
    position: relative !important;
  }
  &:hover {
    filter: drop-shadow(0 2*$mirk 5*$mirk $white);
    transform: translateY(-2*$mirk);
  }
}