// colors
// default
$accent: #135BEB;
$white: #EBEBEB;
$black: #141414;

// hover
$accentHover: #4785FF;
$whiteHover: #ABABAB;
$blackHover: #545454;


// typography
// family
$fontHeading: var(--font-heading); // Unbounded
$fontBody: var(--font-body); // Montserrat
$fontCaption: var(--font-caption); // IBM Plex Mono

// number
$mirk: 0.0625rem; // 1/16 rem